* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/wall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

a {
  color: #999;
  transition: all 0.2s;
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 1;
}
